* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  padding: 40px;
  margin: 0;
  background: #fff;
  font-size: 14px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #000;
  padding: 6px;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

.bold {
  font-weight: bold;
}

.header {
  text-align: center;
  border: 1px solid #000;
  padding: 5px;
  background-color: #d8e6f2; }

.header h2 {
  margin: 4px 0;
  font-size: 20px;
  font-weight: bold;
}

.header h3 {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
}

.header p {
  margin: 2px 0;
}

.top-info {
  display: flex;
  justify-content: space-between;
  border: 1px solid #000;
  border-top: none;
  padding: 10px;
}

.top-left, .top-right {
  width: 49%;
}

.top-left p, .top-right p {
  margin: 4px 0;
}

.main-table {
  margin-top: 0;
  border-top: none;
}

.main-table thead th {
  background-color: #f0f0f0;
  border-top: 1px solid #000;
}

.main-table td, .main-table th {
  border: 1px solid #000;
}

.main-table .particular {
  width: 50%;
}

.amount-section {
  display: flex;
  justify-content: space-between;
  margin-top: 0;
  border: 1px solid #000;
  border-top: none;
  padding: 10px;
}

.amount-left {
  width: 60%;
  border-right: 1px solid #000;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.amount-left p {
  margin: 0;
  padding-top: 50px;
}

.amount-right {
  width: 40%;
}

.amount-right table {
  width: 100%;
  border: none;
}

.amount-right td {
  padding: 6px;
  border-left: none;
  border-right: none;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

.amount-right tr:first-child td {
  border-top: none;
}

.amount-right tr:last-child td {
  border-bottom: none;
}

.footer {
  margin-top: 20px;
  text-align: right;
  font-weight: bold;
}

.signature {
  margin-top: 20px;
  border-top: 1px solid #000;
  width: 200px;
  text-align: center;
  padding-top: 5px;
}

.footer-section {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
  padding-top: 20px;
}

.signature-left,
.signature-right {
  width: 40%;
  font-size: 14px;
}

.signature-left {
  text-align: left;
}

.signature-right {
  text-align: right;
}

@media print {
  button {
    display: none;
  }
}